<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" 	xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hello Toptal</name>
    <description>
        Apache Toptal application.
    </description>
    <author email="filip@toptal.com" href="http://petkovski.mk">
        Filip Petkovski
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1000" />
    <platform name="android">
        <icon src="www/img/logo.png" />
        <splash src="www/img/logo.png" density="mdpi"/>
        <splash src="www/img/logo.png" density="hdpi"/>
        <splash src="www/img/logo.png" density="xhdpi"/>
    </platform>
</widget>
