<div id="search-project-wrapper">
    <div id="search">
        <div class="input-group">
            <input id="address" type="textbox" placeholder="Project name.." class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="addressSearch">Search</button>
            </span>
        </div>
    </div>
    <div id="project-results">
        <div class="project">
            <div> 
                <strong>Project name: </strong> 
                <span class="project-name"></span> 
            </div>  
            <div> 
                <strong>Company: </strong> 
                <span class="project-company"></span> 
            </div>  
            <div> 
                <strong>Location: </strong>  
               <span class="project-location"></span>  
            </div>  
            <div class="project-description-wrapper"> 
                <strong>Description: </strong>  
               <div class="project-description"></div>  
            </div>  
        </div>
    </div>
</div>

